@media (max-width: 1108px) {
  .wrapper {
    width: 90%;
  }
  
  #social {
    width: auto;
    position: absolute ;
    margin-top: 82px;
    margin-right: 4px;
  }
}

@media (max-width: 900px) {
  body {
    font-size: 85%;
  }
  
  #logo h1 {
  display: inline-block;
  width: 35px;
  height: 35px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  background: url(../images/exceptional-logo.png) no-repeat;
  background-size: 100% 100%;
}

#logo h2 {
  display: inline-block;
  font: 2.2em "Clicker Script", cursive;
  margin: 0;
  position: relative;
  top: -9px;
  left: 5px;
  color: #303;
}
  
  #social {
    margin-top: 72px;
  }
  
  .col-3 p {
  -moz-column-rule: 1px dotted #ccc;
  -webkit-column-rule: 1px dotted #ccc;
  column-rule: 1px dotted #ccc;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}
}

@media (max-width: 750px) {
  #navbar nav a {
  display: inline-block;
  width: 16.6666667%;
  margin: 0;
  padding: 22px 0;
  text-transform: uppercase;
  color: black;
  text-align: center;
  border-right: 1px solid #ccc;
  text-decoration: none;
  font: .9em "Trebuchet MS", Arial, sans-serif;
}

  .col-3 p {
  -moz-column-rule: 1px dotted #ccc;
  -webkit-column-rule: 1px dotted #ccc;
  column-rule: 1px dotted #ccc;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
}

.col-1 {
  float: none;
  width: 100%;
  margin: 0;
}

.col-2 {
  float: none;
  width: 100%;
  margin: 0;
}

.col-3 {
  float: none;
  width: 100%;
  margin: 0;
}

.border-right {
  border-right: 0px;
}

#details div {
  height: auto;
}
}
